<% provide(:title, @stock.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1><%= @stock.name%></h1>
			<h4><%= @stock.ticker %>, <%= @stock.quantity %>, <%= @stock.price %></h4>
		</section>
	</aside>
	<div class="span8">
		<% if @stock.stock_prices.any? %>
		<h3>Stock Price variations (<%= @stock.stock_prices.count %>)</h3>
		<ol class="stock_prices">
			<li>
				<span class="content">Price</span>
				<span class="content">Quantity</span>
				<span class="timestamp">Transaction Time</span>
			</li>
			<%= render @stock.stock_prices %>
		</ol>
		<% end %>
	</div>
</div>