<% provide(:title, @stock.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1><%= @stock.name%></h1>
			<h4><%= @stock.ticker %>, <%= @stock.quantity %>, <%= @stock.price %></h4>
		</section>
	</aside>
	<div class="span8">
		<% if @stock.stock_prices.any? %>
		<h3>Stock Price history (Number of transactions: <%= @stock.stock_prices.count %>)</h3>
		<ol class="stock_prices">
			<li>
				<span class="span1">Price</span>
				<span class="span1">Quantity</span>
				<span class="timestamp">Transaction Time</span>
			</li>
			<%= render @stock.stock_prices %>
		</ol>
		<% end %>
	</div>
	<div class="clear"></div>
	<div class="span6" style="float:left">
		<div class="span6">Bids Placed</div>
		<div class="span1">Price</div>
		<div class="span1">Quantity</div>
		<div class="span3">Time</div>
		<%= render @stock.bids %>
	</div>
	<div class="span6" style="float:right">
		<div class="span6">Asks Placed</div>
		<div class="span1">Price</div>
		<div class="span1">Quantity</div>
		<div class="span3">Time</div>
		<%= render @stock.asks %>
	</div>
</div>